<a href="https://colab.research.google.com/github/Konwalai1111/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# **Dictionary**

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 567}

In [ ]:
dict_b['a'] = 567

## **การ add สมาชิกเข้าไปใน dict**

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Konwalai')

In [ ]:
print_myname()

Konwalai

In [ ]:
b = print_myname()

Konwalai

In [ ]:
b

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('แสนสิงห์','663020276-9','กรวลัย')

'ชื่อ กรวลัย นามสกุล แสนสิงห์ รหัส 663020276-9'

In [ ]:
print_fullname(name='กรวลัย',surname='แสนสิงห์',ID='663020276-9')

'ชื่อ กรวลัย นามสกุล แสนสิงห์ รหัส 663020276-9'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ของ HW2
commit"quiz5"

In [ ]:
# prompt: เขียน fuction คำนวณเวลาเป็นวินาทีจากเวลาที่ใส่เข้ามา

def time_to_seconds(time_str):
  """
  คำนวณเวลาเป็นวินาทีจากเวลาที่ใส่เข้ามาในรูปแบบ hh:mm:ss

  Args:
    time_str: เวลาในรูปแบบสตริง hh:mm:ss

  Returns:
    เวลาในหน่วยวินาที (จำนวนเต็ม)
  """
  h, m, s = map(int, time_str.split(':'))
  return h * 3600 + m * 60 + s

def calculate_time_difference_seconds(time_range_str):
  """
  คำนวณผลต่างเวลาเป็นวินาทีจากช่วงเวลาที่ใส่เข้ามาในรูปแบบ hh:mm:ss-hh:mm:ss

  Args:
    time_range_str: ช่วงเวลาในรูปแบบสตริง hh:mm:ss-hh:mm:ss

  Returns:
    ผลต่างเวลาในหน่วยวินาที (จำนวนเต็ม)
  """
  start_time_str, end_time_str = time_range_str.split('-')
  start_seconds = time_to_seconds(start_time_str)
  end_seconds = time_to_seconds(end_time_str)
  return end_seconds - start_seconds

In [ ]:
# ตัวอย่างการใช้งาน function
inp = '12:30:15-13:41:07'
time_difference_seconds = calculate_time_difference_seconds(inp)
print(f"ผลต่างเวลาคือ {time_difference_seconds} วินาที")

ผลต่างเวลาคือ 4252 วินาที

In [ ]:
time_ranges = [
    '18:09:10 - 18:25:10',
    '13:38:39 - 23:54:39',
    '16:49:58 - 18:05:58',
    '21:49:10 - 22:24:10',
    '08:52:21 - 09:25:21', # Corrected time string
    '06:56:26 - 07:49:26',
    '12:08:05 - 12:43:05',
    '01:48:38 - 07:18:38',
    '08:51:21 - 10:17:21',
    '17:05:17 - 18:09:17'
]

for time_range in time_ranges:
  time_difference_seconds = cal_dif_secs(time_range)
  print(f"ผลต่างเวลาคือ {time_difference_seconds} วินาที สำหรับช่วงเวลา {time_range}")

ผลต่างเวลาคือ 960 วินาที สำหรับช่วงเวลา 18:09:10 - 18:25:10
ผลต่างเวลาคือ 36960 วินาที สำหรับช่วงเวลา 13:38:39 - 23:54:39
ผลต่างเวลาคือ 4560 วินาที สำหรับช่วงเวลา 16:49:58 - 18:05:58
ผลต่างเวลาคือ 2100 วินาที สำหรับช่วงเวลา 21:49:10 - 22:24:10
ผลต่างเวลาคือ 1980 วินาที สำหรับช่วงเวลา 08:52:21 - 09:25:21
ผลต่างเวลาคือ 3180 วินาที สำหรับช่วงเวลา 06:56:26 - 07:49:26
ผลต่างเวลาคือ 2100 วินาที สำหรับช่วงเวลา 12:08:05 - 12:43:05
ผลต่างเวลาคือ 19800 วินาที สำหรับช่วงเวลา 01:48:38 - 07:18:38
ผลต่างเวลาคือ 5160 วินาที สำหรับช่วงเวลา 08:51:21 - 10:17:21
ผลต่างเวลาคือ 3840 วินาที สำหรับช่วงเวลา 17:05:17 - 18:09:17

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

In [ ]:
def time_to_seconds(time_str):
    parts = time_str.split(":")   # ['12', '30', '15']
    ints = []
    for p in parts:
        ints.append(int(p))
    h, m, s = ints
    return h * 3600 + m * 60 + s

list = [
     '18:09:10 - 18:25:10',
    '13:38:39 - 23:54:39',
    '16:49:58 - 18:05:58',
    '21:49:10 - 22:24:10',
    '08:52:21 - 09:25:21', # Corrected time string
    '06:56:26 - 07:49:26',
    '12:08:05 - 12:43:05',
    '01:48:38 - 07:18:38',
    '08:51:21 - 10:17:21',
    '17:05:17 - 18:09:17'
]

for line in list:
    time1_str, time2_str = line.split(" - ")
    sec1 = time_to_seconds(time1_str)
    sec2 = time_to_seconds(time2_str)
    diff = sec2 - sec1
    print(f"{line} => {diff} วินาที")

18:09:10 - 18:25:10 => 960 วินาที
13:38:39 - 23:54:39 => 36960 วินาที
16:49:58 - 18:05:58 => 4560 วินาที
21:49:10 - 22:24:10 => 2100 วินาที
08:52:21 - 09:25:21 => 1980 วินาที
06:56:26 - 07:49:26 => 3180 วินาที
12:08:05 - 12:43:05 => 2100 วินาที
01:48:38 - 07:18:38 => 19800 วินาที
08:51:21 - 10:17:21 => 5160 วินาที
17:05:17 - 18:09:17 => 3840 วินาที

# Quiz6
เขียน function ของ HW2 -> มีการใช้ค่า defult ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกัน ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

commit"quiz6"

In [ ]:
# prompt: สร้าง function คำนวณ จำนวนวินาทีที่แตกต่างระหว่าง input hh:mm:ss, day in week

from datetime import datetime, timedelta

def calculate_time_difference_with_day(time_str1, time_str2, day1=None, day2=None):
  """
  คำนวณจำนวนวินาทีที่แตกต่างระหว่างเวลาและวันในสัปดาห์

  Args:
    time_str1: เวลาเริ่มต้นในรูปแบบสตริง 'HH:MM:SS'
    time_str2: เวลาสิ้นสุดในรูปแบบสตริง 'HH:MM:SS'
    day1: วันเริ่มต้นในสัปดาห์ (0=จันทร์, 6=อาทิตย์). ถ้าไม่ได้ระบุ หรือระบุเป็น None จะถือว่าเป็นวันเดียวกันกับ day2
    day2: วันสิ้นสุดในสัปดาห์ (0=จันทร์, 6=อาทิตย์). ถ้าไม่ได้ระบุ หรือระบุเป็น None และ day1 ไม่ได้ระบุ จะถือว่าเป็นวันเดียวกัน

  Returns:
    จำนวนวินาทีที่แตกต่าง (จำนวนเต็ม).
  """
  # กำหนดวันเริ่มต้นและสิ้นสุด ถ้าไม่ได้ระบุ
  if day1 is None and day2 is None:
      day1 = 0
      day2 = 0
  elif day1 is None:
      day1 = day2
  elif day2 is None:
      day2 = day1

  # แปลงเวลาและวันเป็นอ็อบเจกต์ datetime
  # กำหนดวันที่ 1900-01-01 เป็นวันที่อ้างอิง (วันจันทร์) เพื่อให้สามารถใช้ timedelta ในการคำนวณวันได้ง่าย
  start_dt = datetime(1900, 1, 1) + timedelta(days=day1)
  end_dt = datetime(1900, 1, 1) + timedelta(days=day2)

  # แยก ชั่วโมง นาที วินาที
  h1, m1, s1 = map(int, time_str1.split(':'))
  h2, m2, s2 = map(int, time_str2.split(':'))

  # เพิ่มเวลาเข้าไปในอ็อบเจกต์ datetime
  start_dt = start_dt.replace(hour=h1, minute=m1, second=s1)
  end_dt = end_dt.replace(hour=h2, minute=m2, second=s2)

  # คำนวณผลต่างเวลาเป็นวินาที
  time_difference = end_dt - start_dt

  return int(time_difference.total_seconds())

# ตัวอย่างการใช้งาน
# วันเดียวกัน
print(f"ผลต่างเวลา (วันเดียวกัน): {calculate_time_difference_with_day('12:30:00', '13:00:00')} วินาที")
print(f"ผลต่างเวลา (วันเดียวกัน): {calculate_time_difference_with_day('12:30:00', '13:00:00', day1=2)} วินาที") # ระบุวันเริ่มต้น
print(f"ผลต่างเวลา (วันเดียวกัน): {calculate_time_difference_with_day('12:30:00', '13:00:00', day2=2)} วินาที") # ระบุวันสิ้นสุด

# คนละวัน
print(f"ผลต่างเวลา (ข้ามวัน): {calculate_time_difference_with_day('23:00:00', '01:00:00', day1=1, day2=2)} วินาที")
print(f"ผลต่างเวลา (ข้ามวัน): {calculate_time_difference_with_day('23:00:00', '01:00:00', day1=6, day2=0)} วินาที") # ข้ามสัปดาห์

ผลต่างเวลา (วันเดียวกัน): 1800 วินาที
ผลต่างเวลา (วันเดียวกัน): 1800 วินาที
ผลต่างเวลา (วันเดียวกัน): 1800 วินาที
ผลต่างเวลา (ข้ามวัน): 7200 วินาที
ผลต่างเวลา (ข้ามวัน): -597600 วินาที

In [ ]:
# prompt: เขียน function ของ HW2 ใช้ค่า defult ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกัน ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

def calculate_time_difference_with_date(time_range_str, date_str=None):
    """
    คำนวณผลต่างเวลาเป็นวินาทีจากช่วงเวลาที่ใส่เข้ามาในรูปแบบ hh:mm:ss-hh:mm:ss
    และรองรับการระบุวันที่ ถ้าวันที่เริ่มต้นและวันที่สิ้นสุดเป็นวันเดียวกัน
    สามารถเว้นการระบุวันที่สำหรับวันที่สองได้ หรือระบุเพียงครั้งเดียว

    Args:
      time_range_str: ช่วงเวลาในรูปแบบสตริง hh:mm:ss-hh:mm:ss
      date_str: วันที่ในรูปแบบสตริง เช่น 'YYYY-MM-DD' หรือ 'DD/MM/YYYY' (เป็นค่า default คือ None)
                ถ้าเป็นช่วงเวลาในวันเดียวกัน สามารถใส่ None, ใส่เฉพาะวันที่แรก,
                หรือใส่ทั้งสองวันโดยคั่นด้วย '-' เช่น 'YYYY-MM-DD - YYYY-MM-DD'
                ถ้าใส่เพียงวันที่เดียว 'YYYY-MM-DD' จะถือว่าเป็นวันที่เริ่มต้นและสิ้นสุด
                ถ้าใส่เป็น None จะถือว่าเป็นวันเดียวกันทั้งหมด

    Returns:
      ผลต่างเวลาในหน่วยวินาที (จำนวนเต็ม)
    """

    # แยกเวลาเริ่มต้นและเวลาสิ้นสุด
    time_parts = time_range_str.split('-')
    start_time_str = time_parts[0].strip()
    end_time_str = time_parts[1].strip()

    # แยกวันที่เริ่มต้นและวันที่สิ้นสุด
    start_date_str = None
    end_date_str = None

    if date_str is not None:
        date_parts = date_str.split('-')
        if len(date_parts) == 1:
            # ถ้าใส่มาแค่ 1 วัน ถือว่าเป็นวันเดียวกัน
            start_date_str = date_parts[0].strip()
            end_date_str = date_parts[0].strip()
        elif len(date_parts) == 2:
            # ถ้าใส่มา 2 วัน
            start_date_str = date_parts[0].strip()
            end_date_str = date_parts[1].strip()
        # ถ้า len(date_parts) == 0 แสดงว่า date_str เป็นสตริงว่าง หรืออื่นๆที่ไม่ใช่ -
        # ซึ่งในกรณีนี้จะถือว่าไม่ได้ระบุวันที่ และเข้าเงื่อนไขด้านล่าง

    # ถ้าไม่ได้ระบุวันที่ หรือระบุวันที่เดียว ถือว่าเป็นวันเดียวกัน
    if start_date_str is None or start_date_str == end_date_str:
        start_seconds = time_to_seconds(start_time_str)
        end_seconds = time_to_seconds(end_time_str)
        return end_seconds - start_seconds
    else:
        # ถ้ามีวันที่และวันที่เริ่มต้นและสิ้นสุดต่างกัน จะต้องแปลงวันที่เป็น timestamp ด้วย
        # ในตัวอย่างนี้จะสมมติว่าเรามีฟังก์ชันแปลงวันที่และเวลาเป็นวินาทีตั้งแต่ epoch
        # ซึ่งต้องใช้ library เช่น datetime
        from datetime import datetime

        # ลองสมมติ format ของวันที่
        date_format = '%Y-%m-%d' # หรือ '%d/%m/%Y' ตามต้องการ

        try:
            start_datetime_str = f"{start_date_str} {start_time_str}"
            end_datetime_str = f"{end_date_str} {end_time_str}"

            start_datetime = datetime.strptime(start_datetime_str, f"{date_format} %H:%M:%S")
            end_datetime = datetime.strptime(end_datetime_str, f"{date_format} %H:%M:%S")

            time_difference = (end_datetime - start_datetime).total_seconds()
            return int(time_difference)

        except ValueError as e:
            print(f"Error parsing date or time: {e}")
            print("Please ensure the date format is correct and matches the input.")
            return None # หรือ raise Exception ตามความเหมาะสม

# ตัวอย่างการใช้งาน
print("ตัวอย่างการใช้งาน function calculate_time_difference_with_date:")

# กรณีที่ไม่ระบุวันที่ (ถือว่าเป็นวันเดียวกัน)
time_range_same_day = '12:30:15-13:41:07'
diff_same_day_no_date = calculate_time_difference_with_date(time_range_same_day)
print(f"เวลา: {time_range_same_day}, ผลต่าง (ไม่ระบุวันที่): {diff_same_day_no_date} วินาที")

# กรณีระบุวันที่เดียว (ถือว่าเป็นวันเดียวกัน)
time_range_same_day = '12:30:15-13:41:07'
date_same_day = '2023-10-27'
diff_same_day_one_date = calculate_time_difference_with_date(time_range_same_day, date_same_day)
print(f"เวลา: {time_range_same_day}, วันที่: {date_same_day}, ผลต่าง (ระบุวันที่เดียว): {diff_same_day_one_date} วินาที")

# กรณีระบุวันที่เริ่มต้นและสิ้นสุดเหมือนกัน
time_range_same_day = '12:30:15-13:41:07'
date_same_day_split = '2023-10-27 - 2023-10-27'
diff_same_day_split_date = calculate_time_difference_with_date(time_range_same_day, date_same_day_split)
print(f"เวลา: {time_range_same_day}, วันที่: {date_same_day_split}, ผลต่าง (ระบุวันที่เริ่มต้น-สิ้นสุด เหมือนกัน): {diff_same_day_split_date} วินาที")


# กรณีระบุวันที่เริ่มต้นและสิ้นสุดต่างกัน
time_range_different_day = '23:00:00-01:00:00'
date_different_day = '2023-10-27 - 2023-10-28'
diff_different_day = calculate_time_difference_with_date(time_range_different_day, date_different_day)
print(f"เวลา: {time_range_different_day}, วันที่: {date_different_day}, ผลต่าง (ระบุวันที่เริ่มต้น-สิ้นสุด ต่างกัน): {diff_different_day} วินาที")

# ตัวอย่างการใช้งานกับ list ของช่วงเวลา
time_ranges_with_dates = [
    ('18:09:10 - 18:25:10', None), # วันเดียวกัน ไม่ระบุวันที่
    ('13:38:39 - 23:54:39', '2023-10-27'), # วันเดียวกัน ระบุวันที่เดียว
    ('16:49:58 - 18:05:58', '2023-10-27 - 2023-10-27'), # วันเดียวกัน ระบุวันที่เริ่มต้น-สิ้นสุดเหมือนกัน
    ('21:49:10 - 22:24:10', '2023-10-27'),
    ('08:52:21 - 09:25:21', None),
    ('06:56:26 - 07:49:26', '2023-10-28'),
    ('12:08:05 - 12:43:05', '2023-10-28 - 2023-10-28'),
    ('01:48:38 - 07:18:38', '2023-10-28'),
    ('08:51:21 - 10:17:21', '2023-10-28'),
    ('17:05:17 - 18:09:17', None),
    ('23:00:00 - 01:00:00', '2023-10-28 - 2023-10-29') # ข้ามวัน
]

print("\nผลต่างเวลาสำหรับ list ของช่วงเวลา:")
for time_range, date_str in time_ranges_with_dates:
    diff = calculate_time_difference_with_date(time_range, date_str)
    print(f"เวลา: {time_range}, วันที่: {date_str}, ผลต่าง: {diff} วินาที")

ตัวอย่างการใช้งาน function calculate_time_difference_with_date:
เวลา: 12:30:15-13:41:07, ผลต่าง (ไม่ระบุวันที่): 4252 วินาที
เวลา: 12:30:15-13:41:07, วันที่: 2023-10-27, ผลต่าง (ระบุวันที่เดียว): 4252 วินาที
เวลา: 12:30:15-13:41:07, วันที่: 2023-10-27 - 2023-10-27, ผลต่าง (ระบุวันที่เริ่มต้น-สิ้นสุด เหมือนกัน): 4252 วินาที
เวลา: 23:00:00-01:00:00, วันที่: 2023-10-27 - 2023-10-28, ผลต่าง (ระบุวันที่เริ่มต้น-สิ้นสุด ต่างกัน): -79200 วินาที

ผลต่างเวลาสำหรับ list ของช่วงเวลา:
เวลา: 18:09:10 - 18:25:10, วันที่: None, ผลต่าง: 960 วินาที
เวลา: 13:38:39 - 23:54:39, วันที่: 2023-10-27, ผลต่าง: 36960 วินาที
เวลา: 16:49:58 - 18:05:58, วันที่: 2023-10-27 - 2023-10-27, ผลต่าง: 4560 วินาที
เวลา: 21:49:10 - 22:24:10, วันที่: 2023-10-27, ผลต่าง: 2100 วินาที
เวลา: 08:52:21 - 09:25:21, วันที่: None, ผลต่าง: 1980 วินาที
เวลา: 06:56:26 - 07:49:26, วันที่: 2023-10-28, ผลต่าง: 3180 วินาที
เวลา: 12:08:05 - 12:43:05, วันที่: 2023-10-28 - 2023-10-28, ผลต่าง: 2100 วินาที
เวลา: 01:48:38 - 07:18:38, วันที่: 2023-10-28, ผลต่าง: 19800 วินาที
เวลา: 08:51:21 - 10:17:21, วันที่: 2023-10-28, ผลต่าง: 5160 วินาที
เวลา: 17:05:17 - 18:09:17, วันที่: None, ผลต่าง: 3840 วินาที
เวลา: 23:00:00 - 01:00:00, วันที่: 2023-10-28 - 2023-10-29, ผลต่าง: -79200 วินาที

# HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ต่อไปนี้

```
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]
```

In [ ]:
#promt loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ต่อไปนี้
def cal_diff_secs(timeinput):
    days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, time1_str.split(':'))
    h2, m2, s2 = map(int, time2_str.split(':'))
    time1_sec = h1 * 3600 + m1 * 60 + s1
    time2_sec = h2 * 3600 + m2 * 60 + s2

    # ไม่ระบุวัน
    if day1 is None and day2 is None:
        if time2_sec < time1_sec:
            time2_sec += 86400  # เพิ่ม 1 วัน
        return time2_sec - time1_sec

    # ระบุวัน
    if day1 is not None and day2 is None:
        day1_index = days_order.index(day1)
        day2_index = day1_index
    elif day1 is None and day2 is not None:
        day2_index = days_order.index(day2)
        day1_index = day2_index
    else:
        day1_index = days_order.index(day1)
        day2_index = days_order.index(day2)

    time1_total = time1_sec + (day1_index * 86400)
    time2_total = time2_sec + (day2_index * 86400)

    if time2_total < time1_total:
        time2_total += 7 * 86400  # next week

    return time2_total - time1_total

In [ ]:
list_d = [ "10:00:00,Monday - 11:30:00",
            "11:30:00,Monday - 10:00:00,Monday",
            "23:00:00,Sunday - 01:00:00",
            "01:00:00,Monday - 23:00:00,Sunday",
            "10:00:00,Tuesday - 11:30:00,Thursday",
            "11:30:00,Thursday - 10:00:00,Tuesday",
            "12:00:00,Monday - 12:00:00,Monday",
            "12:00:00,Monday - 12:00:00,Tuesday",
            "00:00:00,Monday - 23:59:59",
            "23:59:59,Sunday - 00:00:00,Monday"
        ]

for list in list_d:
    print(f"{list} → {cal_dif_secs(list)} seconds")
    print("-" * 20)

10:00:00,Monday - 11:30:00 → 5400 seconds
--------------------
11:30:00,Monday - 10:00:00,Monday → 599400 seconds
--------------------
23:00:00,Sunday - 01:00:00 → 525600 seconds
--------------------
01:00:00,Monday - 23:00:00,Sunday → 597600 seconds
--------------------
10:00:00,Tuesday - 11:30:00,Thursday → 178200 seconds
--------------------
11:30:00,Thursday - 10:00:00,Tuesday → 426600 seconds
--------------------
12:00:00,Monday - 12:00:00,Monday → 0 seconds
--------------------
12:00:00,Monday - 12:00:00,Tuesday → 86400 seconds
--------------------
00:00:00,Monday - 23:59:59 → 86399 seconds
--------------------
23:59:59,Sunday - 00:00:00,Monday → 1 seconds
--------------------

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17



* https://www.w3schools.com/python/default.asp
* https://scikit-learn.org/stable/user_guide.html
* https://pandas.pydata.org/docs/reference/frame.html

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> /\n' )

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### วนลูปโดยลำดับสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Konwalai':
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ K เป็นลำดับที่ 0
สมาชิกคือ o เป็นลำดับที่ 1
สมาชิกคือ n เป็นลำดับที่ 2
สมาชิกคือ w เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ l เป็นลำดับที่ 5
สมาชิกคือ a เป็นลำดับที่ 6
สมาชิกคือ i เป็นลำดับที่ 7

In [ ]:
for i,index in enumerate('Konwalai'):
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ 0 เป็นลำดับที่ K
สมาชิกคือ 1 เป็นลำดับที่ o
สมาชิกคือ 2 เป็นลำดับที่ n
สมาชิกคือ 3 เป็นลำดับที่ w
สมาชิกคือ 4 เป็นลำดับที่ a
สมาชิกคือ 5 เป็นลำดับที่ l
สมาชิกคือ 6 เป็นลำดับที่ a
สมาชิกคือ 7 เป็นลำดับที่ i

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็น 3 เหลี่ยมตามตัวอย่างดังนี้

 ex:
 1

 2 4

 3 6 9

 4 8 12 16

 5 10 15 20 25

In [ ]:
# prompt: วนลูป แสดงค่า ตัวเลขออกมาเป็น 3 เหลี่ยมตามตัวอย่างดังนี้

for i in range(1, 6):
  for j in range(1, i + 1):
    print(i * j, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['เงิน','เงิน','เงิน','เงิน','เงิน','เงิน']

In [ ]:
print_feelings('เงิน',list_friends)

เงิน คิดถึง เงิน
เงิน คิดถึง เงิน
เงิน คิดถึง เงิน
เงิน คิดถึง เงิน
เงิน คิดถึง เงิน
เงิน คิดถึง เงิน

In [ ]:
print_feelings('ฉัน','เงิน')

ฉัน คิดถึง เ
ฉัน คิดถึง ง
ฉัน คิดถึง ิ
ฉัน คิดถึง น

In [ ]:
print_feelings('ฉัน',list_friends,feeling='รัก')

ฉัน รัก เงิน
ฉัน รัก เงิน
ฉัน รัก เงิน
ฉัน รัก เงิน
ฉัน รัก เงิน
ฉัน รัก เงิน

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# nbviewer

https://nbviewer.org/

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [1]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [2]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [3]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [4]:
if (1>0) & (0>-1):
    print(True & True)

True

In [6]:
a = 2<3
print(a)

True

In [5]:
b = 7 in range(7)
print(b)

False

In [7]:
a & b

False

In [8]:
a | b

True

In [9]:
if 2<3 & 7 in range(10):
    print('Yes')

Yes

In [11]:
if 'K' in 'Konwalai':
    print('K in Konwalai')

K in Konwalai

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

## break คือการออกจาก loop

python break
https://www.programiz.com/python-programming/break-continue

In [30]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]
#สร้าง function ตรวจสองว่าใน list มีเลขคี่หรือเปล่า
def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
    print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
มีเลขคี่ คือ 81
มีเลขคี่ คือ 9
ไม่มีเลขคี่

In [29]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]
#สร้าง function ตรวจสองว่าใน list มีเลขคี่หรือเปล่า
def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            break
    print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
ไม่มีเลขคี่

In [28]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]
#สร้าง function ตรวจสองว่าใน list มีเลขคี่หรือเปล่า
def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            return
    print('ไม่มีเลขคี่')
    return input_list

check_odd_in_list(numbers)
check_odd_in_list({0, 2, 8, 24})

มีเลขคี่ คือ 5
ไม่มีเลขคี่

{0, 2, 8, 24}

In [ ]:
for num in numbers:
    if num == 5:
        print("Found 5! Breaking the loop")
        break
    print(num)

# Finish